.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  background-color: #e1e5ea;
  z-index: 999;
}

.nav-super {
  width: 100%;
  height: 50px;
  background-color: #a7bbc7;
}

.nav-sub {
  width: 100%;
  height: 40px;
  background-color: #e1e5ea;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s ease;
}

.nav-sub.active {
  margin-left: -80px;
}

.navbar-brand {
  position: relative;
  float: left;
  margin-left: 160px;
  background-color: black;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 15px 2px rgb(100 100 100 / 49%);
  transition: all 0.3s;
  z-index: 1;
}

.nav-logo {
  background-image: url("../../images/infi-logo.png");
  width: 208px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  transition: all 0.3s;
}

.nav-logo.active {
  background-image: url("../../images/infi-logo.png");
  width: 110px;
  height: 90px;
  padding: 2px;
  background-size: contain;
}

.nav-menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.nav-sub ul li {
  padding: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.nav-sub ul li a {
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.5s ease;
}

.nav-sub ul li a:hover {
  transform: translate(0.2);

  border-bottom: 2px solid #a7bbc7;
}

.btn {
  background-color: cornflowerblue;
  border: 2px solid white;
  width: 125px;
  height: 50px;

  outline: none;
  transition: all ease 0.3s;
  text-align: center;
}

.btn:hover {
  border: 2px solid cornflowerblue;
  background-color: white;
}

.btn a {
  font-size: 24px;
}

.btn-signup {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #19355d;
  float: right;

  padding: 15px;
  letter-spacing: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropbtn {
  background-color: #139aaf;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-right: 200px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.dropdown {
  background-color: "black";
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin-right: 200px;
  width: 160px;
  height: 60px;
  float: right;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 327px;
  height: 245px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  width: 137px;
  text-decoration: none;
  display: block;
  background-color: #a7bbc7;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #031e22;
}

.dropdowns {
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 650px;
  height: 400px;
  left: -50px;
  padding: 12px 26px 0 26px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.dropdowns:hover .dropdown-contents {
  display: block;
}

.dropdown-contents-head {
  width: 33%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-buttons {
  transition: all 0.5s ease;
}

.dropdown-contents-head a {
  font-size: 14px;
}

.dropdown-contents-head a:hover {
  color: rgb(143, 143, 194);
}

.fa-bars {
  color: #fff;
}
.fa-times {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    width: 50%;

    height: 500px;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: #a7bbc7;
    left: 25%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-menu.active li {
    position: relative;
    padding: 40px;
    border: 0px;
  }

  .nav-menu.active li a {
    align-items: center;
    color: #fff;
    font-size: 30px;
  }

  .btn {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    transform: translate(-100%, 60);
  }

  .nav-logo {
    width: 110px;
    height: 60px;
    padding: 2px;
    background-size: contain;
  }

  .btn-signup {
    display: none;
  }
}
